<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyB1838Gid1_3zNyq3uK2Yo96ENbBkJ_hqg</string>
	<key>G_PLACES_API_KEY</key>
	<string>AIzaSyDt5OAA004OIUx8Hfu4D6h0x442nG02usY</string>
</dict>
</plist>
